{% extends 'base.html' %}

<h1>Expenses</h1>

<ul class="list-group">
  <li class="list-group-item">Bought Beer</li>
  <li class="list-group-item">Bought Beer</li>
  <li class="list-group-item">Bought Beer</li>
</ul>
